
develop-eggs/
.tox/
build/Release
downloads/
pip-log.txt
pip-delete-this-directory.txt
__pypackages__/
venv/
*$py.class
node_modules/
.pnpm-debug.log*
*.py,cover
.spyderproject
local_settings.py
db.sqlite3-journal
.venv
web_modules/
lib/
.spyproject
.nox/
.rpt2_cache/
*.egg-info/
*.lcov
bower_components
yarn-error.log*
*.egg
.rts2_cache_es/
.pnp.*
logs
var/
dmypy.json
.rts2_cache_umd/
.serverless/
ipython_config.py
.rts2_cache_cjs/
.Python
.cache/
__pycache__/
celerybeat-schedule
cover/
.pybuilder/
*.manifest
MANIFEST
.stylelintcache
env/
.cursorindexingignore
.coverage
.yarn/unplugged
.nuxt
*.pot
.yarn/install-state.gz
.cache
docs/_build/
instance/
.fusebox/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
lerna-debug.log*
.pdm-python
.grunt
.ruff_cache/
npm-debug.log*
build/
cython_debug/
.cursorignore
.pytest_cache/
.installed.cfg
.eggs/
.dynamodb/
*.pid
/site
coverage
.env.development.local
*.pid.lock
wheels/
*.cover
.parcel-cache
.env.production.local
.hypothesis/
yarn-debug.log*
lib64/
.mypy_cache/
.nyc_output
*.so
dist
dist/
.node_repl_history
pids
profile_default/
*.mo
.npm
*.seed
.yarn/cache
nosetests.xml
.ropeproject
.docusaurus
celerybeat.pid
.env.local
parts/
*.sage.py
**/.vitepress/cache
.webassets-cache
.pytype/
*.tgz
.ipynb_checkpoints
.dmypy.json
**/.vitepress/dist
.tern-port
ENV/
target/
.pypirc
eggs/
lib-cov
.env.test.local
jspm_packages/
*.tsbuildinfo
.yarn/build-state.yml
.vscode-test
env.bak/
.temp
*.log
coverage.xml
.coverage.*
db.sqlite3
.yarn-integrity
.vuepress/dist
.pdm-build/
htmlcov/
.pyre/
.next
.lock-wscript
.pdm.toml
.env
out
sdist/
share/python-wheels/
*.py[cod]
venv.bak/
.eslintcache
.scrapy
*.spec
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git cmake,python,node` for https://github.com/Sarverott/rattish.git with  [UNIXUSAT=1748223161344]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
